@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col">
                <a asp-area="" asp-controller="Elves" asp-action="Index">
                    <img src="~/images/ElfManagement.png" width=200 />
                </a>
            </div>
            <div class="col">
                <a asp-area="" asp-controller="Alerts" asp-action="Index">
                    <img src="~/images/ElfAlerts.png" width=200 />
                </a>
            </div>
        </div>
    </div>
</div>
